/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0e141b;
  color: #c7d5e0;
}

/* LINKS */
a {
  color: #66c0f4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* HEADER */
header {
  background: #171d25;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 26px;
}

#buscador {
  padding: 10px;
  width: 220px;
  border-radius: 6px;
  border: none;
  outline: none;
}

/* CATÁLOGO */
#catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 25px;
}

.card {
  background: #1b2838;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.card img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.card h2 {
  font-size: 18px;
  padding: 10px;
}

.card p {
  font-size: 14px;
  padding: 0 10px 10px;
  color: #a9b7c6;
}

.card a {
  display: block;
  background: #66c0f4;
  color: #000;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

/* PÁGINA DEL JUEGO */
.volver {
  display: inline-block;
  margin: 15px;
  font-weight: bold;
}

#detalle {
  max-width: 900px;
  margin: 30px auto;
  background: #1b2838;
  padding: 25px;
  border-radius: 10px;
}

.portada {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

#detalle h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #66c0f4;
}

#detalle h4 {
  margin-top: 25px;
  margin-bottom: 10px;
}

#detalle ul {
  padding-left: 20px;
}

#detalle li {
  margin-bottom: 6px;
}

/* BOTONES */
.boton {
  display: inline-block;
  background: linear-gradient(90deg, #75b022, #588a1b);
  color: #fff;
  padding: 12px 20px;
  margin: 10px 10px 10px 0;
  border-radius: 6px;
  font-weight: bold;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.boton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(117,176,34,0.6);
}

/* SECCIONES */
.section-box {
  background: #161616;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* ANIMACIONES */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 0.6s ease forwards;
}

.hidden {
  opacity: 0;
  transform: translateY(30px);
}

.show {
  opacity: 1;
  transform: translateY(0);
  transition: 0.6s ease;
}



.no-resultados {
  grid-column: 1 / -1;
  text-align: center;
  padding: 60px 20px;
  color: #a9b7c6;
}

.no-resultados h2 {
  font-size: 22px;
}



.ad-banner {
  background: #111;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}